<%= simple_form_for @item do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <div class="col-md-6 col-md-offset-4">
  	<%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>