<div class="jumbotron">
	<h3>Introducing..</h3>
	<h1>Task Keeper</h1>
	<h3>A simple To-do-list app!</h3>
	<%= link_to "Get Started!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>